<html>
  <body>
    <h1>Welcome to <% node["company"] %>!</h1>
  	<h2>Hello from <%= node["fqdn"] %>!</h2>
  	<p>

    This server has <%= node["memory"]["total"].to_i / 1024 %> MB memory
  	</p>
  	
  </body>
</html>